html {
    scroll-behavior: smooth;
}
* {
    font-family: 'Work Sans', sans;
}

.h-content {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

nav a {
    color: #464646;
}

.navbar {
    width: 100%;
    padding-top: 2.5%;
    background-color: #98b197;
    color: #ffffff;
    padding-left: 8%;
    padding-right: 8%;
    font-weight: 900;
}

.btn--webams {
    background-color: #98b197;
    color: #ffffff;
}

.btn-secondary--webams {
    background-color: #464646;
    color: #ffffff;
}

header {
    display: table;
    background-image: url('./../images/header.png');
    background-attachment: fixed;
    background-size: cover;
    background-size: 150%;
    background-position: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

.header-gradient {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: inherit;
    left: 0;
    background-image: linear-gradient(#98b197, #98b19700);
}

main {
    margin-top: 2.5%;
    padding-left: 8%;
    padding-right: 8%;
}

main img {
    width: 240px;
}

.container-safe {
    height: 280px;
}

aside {
    float: left;
    position: sticky;
    top: 10%;
}



aside a {
    color: #98b197;
}

.team-section {
    display: inline-block;
    width: 100%;
    margin-top: 5%;
}

.profile {
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    border-radius: 100pt;
    background-image: linear-gradient(45deg, #98b197, #a9c3b9);
    color: #555555;
    text-align: center;
    margin-bottom: 20px;
}

.profile:hover>.profile--name{
    transform: scale(1.2);
    position: relative;
    color: #fff;
    top: 80px;
    transition-duration: 500ms;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
} 
.profile:hover>.profile--role {
    display: none;
}

.profile--name {
    margin-top: 60px;
    font-weight: 600;
    display: block;
}

.row {
    margin-bottom: 5%;
    height: max-content;
}

.profile--role {
    color: #fff;
    margin-top: 10px;
    display: block;
}
.p1:hover { background-image: url('./../images/aniket.jpeg'); }
.p2:hover { background-image: url('./../images/jyoti.jpg'); }
.p3:hover { background-image: url('./../images/stuti.jpg'); }
.p4:hover { background-image: url('./../images/niharika.jpg'); }
.p5:hover { background-image: url('./../images/swastik.jpg'); }
.p6:hover { background-image: url('./../images/saloni.jpg'); }

footer {
    position: sticky;
    bottom: -999px;
    background-image: linear-gradient(#4b4b4b, #555555, #555555);
    padding: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer-section-2 {
    padding: 10px;
    background-color: #555555;
}

#footer-col {
    padding-left: 50px;
}

#footer-col a {
    color: rgba(255, 255, 255, 0.9);
}